body {
	overflow: hidden;
}

#container {
	height: 300px;
	width: 500px;
	margin: 0 auto;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-250px, -150px);
	text-align: center;
	overflow: hidden;
}

h1 {
	font-family: 'Helvetica', 'Arial', sans-serif;
	position: relative;
	top: 0;
	left: 0;
	line-height: 0;
	opacity: 0;
	font-size: 200px;
	color: white;
	font-weight: bold;
	letter-spacing: -10px;
	transform: scale(1,1);
	box-shadow: 0px 0px 171px 31px rgba(0,0,0,1);
	user-select: none;
	cursor: default;
/* 	display: none; */
/* 	animation-name: textIn;
	animation-timing-function: cubic-bezier(.17,.15,0,1);
	animation-duration: 1s; */
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background: #000000;
}

@keyframes textIn {
		0%   {transform: scale(2,2);}
    100%  {transform: scale(1,1);}
}