@keyframes takeTurnsFrames {
  0% {
    color: #c6c1c1;
  }

  50% {
    color: #868081;
  }

  100% {
    color: #c6c1c1;
  }
}

.takeTurns {
  justify-content: center;
  align-items: center;

  span {
    transform: scale(1.5);
    display: inline-block;
    animation: takeTurnsFrames 2000ms infinite linear;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
