.swiper {
  width: 300px;
  height: 150px;
  position: relative;
  overflow: hidden;

}

.swiper .swiper-container {
  position: relative;
  left: -300px;
  width: 10000%;
  display: flex;
  /*transition: left 2000ms ease-in-out;*/
}


.swiper .swiper-container.move {
  transition: left 500ms ease-in-out;
}


.swiper .swiper-container .swiper-item1 {
  /* 宽度设置1%会按照外层视图的宽度来铺满 */
  width: 1%;
  height: 150px;
  background: #eee6b0;
}

.swiper .swiper-container .swiper-item2 {
  /* 宽度设置1%会按照外层视图的宽度来铺满 */
  width: 1%;
  height: 150px;
  background: #6cd2ee;
}

.swiper .swiper-container .swiper-item3 {
  /* 宽度设置1%会按照外层视图的宽度来铺满 */
  width: 1%;
  height: 150px;
  background: #a3ee8b;
}
