$vm_base: 375;
@function vw($px) {
  @return ($px / $vm_base) * 100vw;
}

html,body {
  margin: 0;
}

.s2 {
  padding-top: percentage(340/750);
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.s3 {
  padding: 50%;
  background-color: #7b7b7b;
}
