
// app global css in SCSS form
html, body, #q-app {
  height: 100%;
  width: 100%;
}


.animation-icon-border {
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.9);
    border-radius: 50%;
    transition: box-shadow .25s ease-in;
  }
}
