* {
  //cursor: none;
}

.v-foxuc-el {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;

  .inner-circle,
  .outer-circle, {
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
    position: fixed;
  }

  .outer-circle {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .inner-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
  }

}
